<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>UserAccounts styled for Twitter Bootstrap</title>
</head>

<body>
</body>
