<template name="home">
  <div class="container">
    <div class="text-center">
      <h1>Hello Meteorites!</h1>
      <p>
        If you'd like to discover more about useraccounts packages for
        <a href="https://www.meteor.com/">Meteor</a>, you can have a
        <a href="https://atmospherejs.com/useraccounts">look at them on Atmosphere</a>
        or at the
        <a href="https://github.com/meteor-useraccounts/">meteor-useraccounts GitHub organization</a>
      </p>
      <p>
        Head instead to the
        <a href="https://github.com/meteor-useraccounts/core/blob/master/Guide.md">Guide</a>
        to read a bit of documentation, or lets have a look at the
        <a href="https://github.com/meteor-useraccounts/boilerplates">boilerplates</a>
        for a quick start!
      </p>
    </div>
  </div>
</template>
